jupytext
nbconvert
ipykernel
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
tensorflow
keras
nltk
spacy
opencv-python
plotly
bokeh
statsmodels
gym
xgboost
lightgbm  
catboost
statsmodels
optuna
pycaret
flaml